/* ================== Global ==================*/
*{
 font-family: "Plus Jakarta Sans", sans-serif;
 font-weight: 600;
 line-height: 150%;
 letter-spacing: -2%;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
/* ============= Start Navbar ============= */
.T-nav{
padding: 25px;
position: fixed;
width: 100%;
top: 0;
left: 0;
}
/* ----------------- Nav-Logo ----------------- */
.T-nav .nav-logo{
      width: 188px;
    height: 40px;
     font-weight :600;
    font-size: 32px;
    line-height:150%;
    letter-spacing:-3%;
    vertical-align:Middle;
}
.T-nav .nav-logo i{
    padding: 5px;
  background-color: #546FFF;
    color: white;
    border-radius: 6px;
}
/* ----------------- Nav-Menu ----------------- */
.T-nav .nav-menu{
    padding:50px 0 30px 0;
}
.T-nav .nav-menu ul{
    width: 188px;
    height: 316px;
}
.T-nav .nav-menu .active{
 color: #141522;
 background-color: #F5F5F7;
border-radius: 10px;
}
.T-nav .nav-menu .active a{
    color: #141522;
}
.T-nav .nav-menu li{
    padding: 10px 20px;
    color: #8E92BC;
    width: 188px; 
    height: 44px; 
    font-weight :600;
    font-size: 14px;
    vertical-align:Middle;
}
.T-nav .nav-menu li i{
     width: 24px; 
    height: 24px;
}
.T-nav .nav-menu li a{
     width: 112px; 
    height: 24px;
    color: #8E92BC;
}
/* ----------------- Nav-Help ----------------- */
.nav-help{
    background:#141522;
    width: 188px;
    height:248px;
    position: relative;
    border-radius: 10px;
}
.nav-help .graph-1{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    border-radius: 10px;
}
.nav-help .graph-1 .gra-1{
     width: 160px;
    height: 160px;
    background-color: rgb(43, 42, 42);
    position: absolute;
    top: -93%;
    left:-105%;
    border-radius: 50%;
    /* clip-path: polygon(50% 50%,100% 50%,100% 100%,50% 100%); */
}
.nav-help .graph-2{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border-radius: 10px;
}
.nav-help .graph-2 .gra-2{
     width: 160px;
    height: 160px;
    background-color: rgb(43, 42, 42);
    position: absolute;
    bottom: -90%;
    right:-100%;
    border-radius: 50%;
}
.nav-help .que{
     width: 48px;
    height:52px;
    background-color: #141522;
    position: absolute;
    top: 0;
    left: 45%;
    transform: translate(-50%,-50%);
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #FFFFFF;
}
.nav-help .que i{
    color: white;
font-weight:700 ;
font-size: 28px;
line-height: 120%;
letter-spacing: 1%;
vertical-align: middle;
}
.nav-help .help{
    color: #F5F5F7;
    width: 188px;
    height: 248px;
    display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.nav-help .help .help-cap{
    width: 152px;
    height: 140px;
    text-align: center;
       display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.nav-help .help .help-cap h3{
    font-size: 16px;
    font-weight: 600;
     width: 104px;
     height: 20px;
}
.nav-help .help .help-cap p{
    font-weight: 450;
    font-size: 14px;
    vertical-align: middle;
    width: 152px;
    height: 44px;
    padding-bottom: 50px;
}
.nav-help .help .help-btn{
    width: 156px;
    height: 44px;
    padding-top: 30px;
      z-index: 2;
}
.nav-help .help .help-btn button{
    border: none;
    font-size: 12px;
    line-height: 100%;
    vertical-align: middle;
    color: #141522;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px 20px;
}

/* ============= End Navbar ============= */

/* ============= Start Home ============= */
#home{
    padding-block: 25px;
}
.title{
    display: flex;
   justify-content: space-between;
}
.title-content{
    width: 236px;
    height: 72px;
}
.title-icons{
    width: 111px;
    height: 52px;
}
.title-icons i{
     width: 52px;
    height: 52px;
   color: #8E92BC;
   padding-inline: 15px;
}
.title-icons img{
     width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* ------------------- Gragh-Task -------------------------- */
#home .gragh-task{
    margin-top: 44px;
    display: flex;
    align-items: center;
}
#home .gragh-task .run-task{
    width: 194px;
    height: 214px;
    padding: 20px;
    background-color: rgb(20, 21, 34);
    color:#FFFFFF;
    border-radius: 10px;
    margin-right: 32px;
}
#home .gragh-task .run-task h4{
    width: 124px;
    height: 24px;
    font-size: 16px;
    padding-bottom: 16px;
}
#home .gragh-task .run-task span{
    width: 124px;
    height: 24px;
    font-size: 32px;
    /* padding-bottom: 30px; */
    letter-spacing: -3%;
}
#home .gragh-task .rate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
#home .gragh-task .run-task .pre-rate{
    width: 68px;
    height: 68px;
    padding: 16px;
    border: 3px solid #546fff;
    border-radius: 50%;
}
#home .gragh-task .run-task .pre-rate span{
    font-size: 18px;
}
#home .gragh-task .run-task .total-rate{
    width: 52px;
    height: 48px;
}
#home .gragh-task .run-task .total-rate span{
    width: 40px;
    height: 24px;
    font-size: 20px;

}
#home .gragh-task .run-task .total-rate p{
    width: 53px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #8E92BC;
}
/* ------------------ activity --------------------- */
.gragh-task .activity{
    width: 462px;
    height: 214px;
    background-color: #f5f5f7;
    padding: 10px 0px 40px 0px;
    border-radius: 10px;
}
.gragh-task .activity .act-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}
.gragh-task .activity .act-title h2{
    width: 60px;
    height: 24px;
    font-size: 16px;
}
.gragh-task .activity .act-title h4{
    width: 60px;
    height: 24px;
    font-size: 12px;
    line-height: 100%;
    font-weight: 500;
}
 canvas {
      width: 422px; 
      height: 130px;
      margin: auto;
      display: block;
      background-color: #FFFFFF;
      padding: 5px 10px 10px 10px;
      border-radius: 10px;
    }
/* ============= End Home ============= */

/* ============= Start Setting ============= */
#setting{
    padding-block: 50px;
}




/* ============= End Setting =============== */
 .w-95{
    width: 95%;
 }
 .bg-custom-light {
  background-color: #f5f5f7;
}
.h-160{
    height: 160px;
    width: 320px;
}
 .image-stack {
  width: 50%;
 
 }
.custom-progress {
  overflow: visible; 
  
}

 
 
.progress-dot {
  position: relative;
  width:20px;  
  height:20px;
  background-color: hsl(216, 82%, 50%);  
  border-radius: 50%;
  border-color: white;
  z-index: 2;  
  top:-2px;
  transform: translate(-50%, 0); 
}


 
@media (max-width: 576px) {
  .progress-dot {
    width: 8px;
    height: 8px;
  }
}

.layer-img {
  position: absolute;
 
}

 
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }

 
.custom-start-40 { right: 40%; }
.custom-start-30 { right: 30%; }
.custom-start-20 { right: 20%; }
.custom-start-10 { right: 10%; }
.custom-start-0  { right: 0; }

/* ============= Start Message ============= */
.search-bar{
    border:2px lightcoral bold;
   
  
}
/* ============= end Messag3e ============= */